<header>
    <div class="icono">
        <img src="assets/png/fill-2.png" srcset="/assets/png/fill-2@2x.png 2x,/assets/png/fill-2@3x.png 3x" class="Fill-2">
    </div>
    <div class="contenedor">
    <app-navbar [color2]="'white'" ></app-navbar>
    <section class="titulo">
        Las mejores raquetas para <br> 
        jugar 
        <span>Tennis</span> <br>
        <button type="button" class="btn-enlace">Acerca de Nosotros
             
             <span class="icon icon-bike"></span>
             
        </button>
    
    </section>
    </div>
    


</header>
