html,
body {
  padding: 0;
  margin: 0;
}
#banner-1 {
  display: flex;
  background: #f3f4f8;
  width: 100%;
  height: 392px;
  @media only screen and (max-width: 768px) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .titulo {
    font-size: 50px;
    line-height: 1.14;
    letter-spacing: -0.06px;
    color: #1e2335;
    padding-bottom: 49px;
    @media only screen and (max-width: 768px) {
      font-size: 30px;
    }
  }
  .subtitulo {
    font-size: 18px;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: 0.51px;
    color: #787878;
    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 72px;
    padding-bottom: 67px;
    @media only screen and (max-width: 768px) {
      display: block;
      text-align: center;
      padding: 0;
    }
    &.cont-1 {
      align-self: flex-start;
      text-align: end;
      font-size: 15px;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: 1.87px;
      text-align: right;
      color: #cbe346;
      text-transform: uppercase;
      font-weight: 900;
      @media only screen and (max-width: 768px) {
        align-self: center;
        text-align: center;
        padding-top: 20px;
      }
    }
    &.cont-2 {
      justify-content: space-between;
      padding-left: 51px;
      @media only screen and (max-width: 768px) {
        text-align: center;
        padding-left: 0;
      }
    }
    &.cont-3 {
      align-self: flex-end;
      @media only screen and (max-width: 768px) {
        align-self: center;
        justify-self: end;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}


#banner-2 {
  width: 100%;
  height: 586px;
  background-image: url("/assets/img/action-athlete-ball-342361.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  @media only screen and (max-width: 768px) {
    height: 293px;
  }
}

button {
  width: 234px;
  @media only screen and (max-width: 768px) {
    width: 170px;
  }
  @media only screen and (min-width: 768px) and (max-width: 992px)  {
    width: 150px;
  }
  height: 53px;
  border-radius: 26.5px;
  border: solid 1px #282e47;
  transition: .3s ease-in;
  
  
  &.btn-enlace {
    color: black;
    transition: .3s ease-in;
    &:hover{
      background: #cbe346;
      color: white;
      transition: .3s ease-in;
    }
    span {
      filter: sepia(0%);
      
    }
    
  }
}


// .temp-1 .btn-enlace {
//   margin-top: 1em;
// }
// @media (min-width: 769px) {
//   .temp-1 {
//     display: flex;
//   }
//   .temp-1 .btn-enlace {
//     margin-top: 0;
//     margin-left: 1em;
//   }
// }