<app-header></app-header>
<section id="banner-1">
    <div class="contenedor cont-1">
        <p>Tennis</p>
    </div>
    <div class="contenedor cont-2">
        <div  class="titulo">
            Raquetas.Accesorios.<br>Pelotas.
        </div>
        <div class="subtitulo ">
            Conoce nustras raquetas y aprende a jugar <br> tennis como un profresional.
        </div>
    </div>
    <div class="contenedor cont-3">
        <button type="button" class="btn-enlace">Historia
            <span class="icon icon-bike"></span>
       </button>
    </div>
</section>


<app-carrusel></app-carrusel>



<section id="banner-2"></section>

<app-footer></app-footer>