/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-stretch: normal;
  font: 1em "Roboto";
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 768px) {
    justify-content: center;
    flex-direction: column-reverse;
  }
  ul {
    @media only screen and (max-width: 768px) {
      padding: 0;
    }
    li {
      @media only screen and (max-width: 768px) {
        display: block;
        text-align: center;
        padding: 5px 0;
      }
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        padding: 0 15px;
        &:first-child {
          padding-left: 30px;
        }
      }
      display: inline;
      letter-spacing: 1.5px;
      padding: 0 30px;
      a {
        font-size: 16px;
        font-stretch: normal;
        font-weight: bold;
        letter-spacing: 1.4px;
        text-decoration: none;
      }
    }
  }
}

button.btn-enlace {
  width: 269px;
  height: 53px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
  border-radius: 26.5px;
  border: solid 1px white;
  &:hover{
    background: #cbe346;
    color: black;
    transition: .3s ease-in;
  }

  span {
    display: inline-block;
    width: 23px;
    height: 6px;
    filter: brightness(0) invert(1);
    background-image: url("/assets/svg/path.svg");
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
